.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 166,666%;
    color: #000000;
    &_fz14 {
        font-size: 14px;
        line-height: 150%;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 150%;
    }
    &_fz20 {
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
    }
    &_fz36  {
        font-size: 36px;
        line-height: 166,666%;
    }
    &_fz48 {
        font-size: 48px;
        line-height: 125%;
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}